@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  font-family: "Raleway", serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;



}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: black;
  background-image: url("https://i.gifer.com/ZWdx.gif");
  background-size: contain;
  /*background-image: url(../src/Assets/loading_back.gif);*/
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}



@media (max-width: 767px) {
  .cursor {
    display: none;
  }

  body {
    font-size: 14px;
    line-height: 1.2;
  }
}